<!--
  <li>
    <a href="http://link-to-whatever-social-network.com/user/" itemprop="sameAs">
      <i class="fa fa-fw" aria-hidden="true"></i> Custom Social Profile Link
    </a>
  </li>
-->

<li>
  <a href="https://scholar.google.com/citations?user=BQPowfgAAAAJ&hl=en">
    <i class="fa fa-fw fa-graduation-cap" aria-hidden="true"></i> Google Scholar
  </a>
</li>

<li>
  <a href="http://www.maths.tcd.ie/~graysons/">
    <i class="fa fa-fw fa-chevron-right" aria-hidden="true"></i> Another Version
  </a>
</li>

<li>
  <a href="https://www.insight-centre.org/users/siobhan-grayson">
    <i class="fa fa-fw fa-briefcase" aria-hidden="true"></i> Employer
  </a>
</li>


<li>
  <a href="http://orcid.org/0000-0001-8314-3709">
    <i class="fa fa-fw fa-id-badge" aria-hidden="true"></i> ORCID
  </a>
</li>
