<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <a class="site-title" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = site.url | append: site.baseurl %}
            {% endif %}

            {% comment %} SG: set "active" class on current page {% endcomment %}
            {% if link.title == page.title %}
              <!-- <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}"><span class="active">{{ link.title }}</span></a></li> -->
              <li class="masthead__menu-item active"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% comment %} SG: Hack for breadcrumbs on blog page. {% endcomment %}
            {% elsif link.title == 'Blog' and page.tag == 'home' %}
              <!-- <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}"><span class="active">{{ link.title }}</span></a></li> -->
              <li class="masthead__menu-item active-blog"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% comment %} SG: Hack 2 for blog posts underlinning blog. {% endcomment %}
            {% elsif page.tag == 'blog' and link.title == "Blog" %}
              <li class="masthead__menu-item active-blog"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% comment %} SG: Hack 3 for blog for rhs padding issues. {% endcomment %}
            {% elsif link.title == 'Blog' and page.tag != 'home' %}
              <li class="masthead__menu-item blog"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% else %}
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            {% endif %}
            <!-- <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li> -->
          {% endfor %}
        </ul>
        <button><div class="navicon"></div></button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
